    
     <div class="main">
            <label style="font-weight: bold;">Matricula-incluir</label>

            <label>Aluno:</label>

            <select class="select-title">
                <option></option>
                <option></option>
                <option></option>
            </select>

            <div class="border-box">

                <label style="font-weight: bold;">Adicionar Curso</label>

                <div class="flex">
                    <div class="form">
                        <label>Cursos:</label>
                        <select class="select">
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>

                    <div class="form">
                        <label>Data Matricula:</label>
                        <input type="date"  class="input-label">
                    </div>
                </div>
                <button type="button">Adicionar</button>
                <div class="table">
                <thead >
                    <tr>
                        <th>Curso</th>
                        <th>Data Matricula</th>
                        <th></th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
                </div>
            </div>

        <button type="button">Salvar</button>
        <a routerLink="/matricula"><button type="button">Voltar</button></a>
    </div>