<div class="main">
    <label>Curso</label>
    <label>Nome:</label>

    <input type="texto" class="input-name" #cursoPesquisa>

    <button type="button" (click)="consultar(cursoPesquisa.value)" >Pesquisa</button>

    <div class="table">
        <thead *ngIf = "listaCurso">
            <tr>
                <th></th>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Instrutor</th>
                <th>Local</th>
                <th>Carga Horaria</th>
                <th>Data Inicio</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor = "let curso of listaCurso">
                <th><input type="radio" name="inputRadio" value="{{ curso.nome }}" (click)="selecionar(elementoSelecionado.value)" #elementoSelecionado></th>
                <th>{{curso.codigo}}</th>
                <th>{{curso.nome}}</th>
                <th>{{curso.instrutor}}</th>
                <th>{{curso.local}}</th>
                <th>{{curso.cargaHoraria}}</th>
                <th>{{curso.dataInicio | date: 'dd/MM/yyyy'}}</th>
            </tr>
        </tbody>
    </div>

    <a routerLink="incluir"> <button type="button">Incluir</button></a>
    <a (click)="navegarAlterar()"> <button type="button">Alterar</button></a>
    <a (click)="remover()"><button type="button">Excluir</button></a>
</div>